.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;

  &__title {
    margin: 1em;
  }

  &__button {
    display: inline-block;
    width: 25%;
    height: 2em;
  }
}

.isNotVisible {
  display: none;
}